<% content_for :title do %>
  ワンだふる犬図鑑-検索結果
<% end %>

<h3>dog_breeds search for "<%= @content %>"</h3>
<div class="container">
	<h2 class="member-show-title-login">犬種一覧</h2>
	<section class="wrapper flex">
		<div class="content">
			<div class="d-inline-flex flex-row flex-wrap">
				<div class="items">
			  	<% @records.each do |dog_breed| %>
			    	<%= render "public/dog_breeds/dog_breed_individual", dog_breed: dog_breed %>
			  	<% end %>
			  </div>
			</div>
		</div>
			<%= paginate(@records) %>
	</section>
</div>

