<% content_for :title do %>
  ワンだふる犬図鑑-サイト紹介
<% end %>

<div class="about">
  <h1 class="about-title">サイト紹介</h1>
  <h2 class="about-text">
    ワンだふる犬図鑑は犬種の情報を得ることができます。</br>
    犬種毎の性格・特徴をまとめてありますので是非、見ていってください。</br>
    また、犬種毎にコメント欄がありますので飼い主さん同士の交流にお使いください。</br>
    (コメントするには会員登録していただく必要があります。)
  </h2>
</div>
