<% content_for :title do %>
  ワンだふる犬図鑑-退会確認
<% end %>
<div class="quit">
  <h1><strong>本当に退会しますか？</strong></h1>
  <div class="quit-text">
    <h3>
      退会すると会員情報登録や<br>
      これまでのコメントが閲覧できなくなります。<br><br>
      退会する場合は,「退会する」をクリックしてください。
    </h3>
  </div>
</div>

<div class="quit-button">
  <%= link_to "退会しない", top_path, class: 'btn btn-primary mt-2' %>
  <%= link_to "退会する", public_members_secession_view_path(current_member), method: :PUT, data: {confirm: "本当に退会してもよろしいですか？"}, class: "btn btn-danger mt-2" %>
</div>