/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

header{
  height: 80px;
  width: 100%;
  box-shadow: 0 0 10px #dddddd;
  background-color: white;
  position: fixed;
  top: 0;
}

// 等間隔に並べる
ul {
  display: flex;
  justify-content: space-evenly;
}
li {
  list-style-type: none;
  color: #000;
  margin-top: 20px;
}

.search{
  float: right;
  margin-right: 10px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-image: image-url("background.jpg");
}

main {
  padding: 120px 20px 90px 20px;
  height: 100%;
}

// 管理者

// ログイン
.admin-login{
  position: absolute;
  top: 200px;
  left: 47%;
  // 文字の色調整
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.login-title{
  position: absolute;
  top: 150px;
  left: 47%;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

// 犬種一覧画面

.dog_breed-index-title{
  position: absolute;
  top: 150px;
  left: 27%;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.admin-dog_breeds-table{
  position: absolute;
  top: 230px;
  left: 27%;
  width: 50%;
}

.new-dog_breed{
  position: absolute;
  top: 185px;
  right: 23%;
}

.dog_breed-index-page{
  position: absolute;
  top: 660px;
  left: 47%;
}

// 犬種新規登録・編集画面
.dog_breed-new-edit-title{
  position: absolute;
  top: 150px;
  left: 40%;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.dog_breed_new_edit{
  position: absolute;
  top: 220px;
  left: 40%;
}

.dog_breed_new_edit-text{
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

textarea {
  resize: none;
  height:340px;
}

// 犬種詳細画面
.dog_breed_show-title{
  position: absolute;
  top: 150px;
  left: 25%;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.dog_breed_show-image{
  position: absolute;
  top: 220px;
  left: 25%;
}


.tag-box{
  position: absolute;
  top: 450px;
  left: 25%;
}

.dog_breed_show-text{
  position: absolute;
  top: 220px;
  left: 50%;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}


.dog_breed_show-button{
  position: absolute;
  top: 450px;
  left: 45%;
}


// ジャンル一覧
.genre-title{
  position: absolute;
  top: 150px;
  left: 27%;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.genre{
  position: absolute;
  top: 220px;
  left: 27%;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.genre-table{
  position: absolute;
  top: 280px;
  left: 27%;
  width: 50%;
}

// ジャンル編集
.genre-edit-title{
  position: absolute;
  top: 150px;
  left: 38%;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.genre-edit{
  position: absolute;
  top: 220px;
  left: 38%;
}

// メンバー一覧
.member-index-title{
  position: absolute;
  top: 150px;
  left: 27%;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.member-table{
  position: absolute;
  top: 220px;
  left: 27%;
  width: 50%;
}

// メンバー詳細
.member-show-title{
  position: absolute;
  top: 150px;
  left: 27%;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.member-show-table{
  position: absolute;
  top: 220px;
  left: 27%;
  width: 50%;
}

.member-edit-button{
  position: absolute;
  top: 490px;
  left: 27%;
}

// メンバー編集
.dog_breed-edit-title{
  position: absolute;
  top: 150px;
  left: 27%;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.member-edit-table{
  position: absolute;
  top: 220px;
  left: 27%;
  width: 50%;
}

.member-edit-table-text{
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.member-save-button{
  position: absolute;
  top: 520px;
  left: 27%;
}

// 会員又は未ログイン

// トップページ
.top{
  position: absolute;
  top: 35%;
  left: 25%;
  text-align: center;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

// サイト紹介
.about{
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.about-title{
  position: absolute;
  top: 150px;
  left: 15%;
}

.about-text{
  position: absolute;
  top: 250px;
  left: 15%;
}

// ログイン
.member-login{
  position: absolute;
  top: 200px;
  left: 47%;
}

.member-login-text{
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.member-unregistered{
  margin-top: 10px;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

// 新規登録
.signup-title{
  position: absolute;
  top: 150px;
  left: 27%;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.member-signup{
  position: absolute;
  top: 200px;
  left: 27%;
}

.member-signup-text{
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.member-already-signup{
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}



// 犬種一覧

.pagination{
  justify-content: center;
}

.dog_breed-index-title-login{
  position: absolute;
  top: 150px;
  left: 27%;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.dog_breed-index-login{
  position: absolute;
  top: 200px;
  left: 27%;
}

.content {
  width: 780px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}

.dog_breed-individual{
  margin: 10px;
}


// 犬種詳細
.dog_breed_show-title-member{
  position: absolute;
  top: 150px;
  left: 20%;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.dog_breed_show-image-member{
  position: absolute;
  top: 220px;
  left: 20%;
}

.dog_breed_show-text-member{
  position: absolute;
  top: 460px;
  left: 20%;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.comments{
  position: absolute;
  top: 330px;
  left: 60%;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.new-comment{
  position: absolute;
  top: 220px;
  left: 60%;
}

// マイページ
.member-show-title-login{
  position: absolute;
  top: 150px;
  left: 27%;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.member-show-table-login{
  position: absolute;
  top: 220px;
  left: 27%;
  width: 50%;
}

.member-edit-button-login{
  position: absolute;
  top: 380px;
  left: 27%;
}

// 退会確認画面
.quit{
  position: absolute;
  top: 150px;
  left: 27%;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.quit-text{
  margin-top: 20px;
}

.quit-button{
  position: absolute;
  top: 400px;
  left: 27%;
}

.search-result{
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

// フッター
footer {
  height: 70px;
  width: 100%;
  background-color: #2f3a44;
  color: #e8e8e8;
  padding-top: 20px;
  position: fixed;
  bottom: 0;
}

.footer-text{
  margin: auto;
  width: 20em;
}

