/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

// /*背景画像　デプロイ用の設定*/
background-top {
  background-image: url("toy_poodle.jpg");
}

header{
  height: 80px;
  width: 100%;
  box-shadow: 0 0 10px #dddddd;
  background-color: white;
  position: fixed;
  top: 0;
}

.header-text{
  font-size: 25px;
}

// 等間隔に並べる
ul {
  display: flex;
  justify-content: space-evenly;
}
li {
  list-style-type: none;
  color: #000;
  margin-top: 20px;
}

.search{
  float: right;
  margin-right: 10px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-image: url("background.jpg");
}

main {
  padding: 120px 20px 90px 20px;
  height: 100%;
}

.container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// 管理者

// ログイン
.admin-login{
  position: fixed;
  top: 200px;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.login-title{
  position: fixed;
  top: 150px;
  left: 350px;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

// 犬種一覧画面

.dog_breed-index-title{
  position: fixed;
  top: 150px;
  left: 295px;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.admin-dog_breeds-table{
  position: fixed;
  top: 200px;
  width: 50%;
}

.new-dog_breed{
  position: fixed;
  top: 150px;
  right: 295px;
}

.dog_breed-index-page{
  position: fixed;
  top: 640px;
}

// 犬種新規登録・編集画面
.dog_breed-new-edit-title{
  position: fixed;
  top: 150px;
  left: 295px;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.dog_breed_new_edit{
  position: fixed;
  top: 220px;
}

.dog_breed_new_edit-text{
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

textarea {
  resize: none;
  height:340px;
}

// 犬種詳細画面
.dog_breed_show-title{
  position: fixed;
  top: 150px;
  left: 100px;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.dog_breed_show-image{
  position: fixed;
  top: 220px;
  left: 150px;
}

.dog_breed_show-text{
  position: fixed;
  top: 220px;
  left: 550px;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

// ジャンル一覧
.genre-title{
  position: fixed;
  top: 150px;
  left: 100px;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.genre{
  position: fixed;
  top: 240px;
  left: 130px;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

// ジャンル編集
.genre-edit-title{
  position: fixed;
  top: 150px;
  left: 100px;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.genre-edit{
  position: fixed;
  top: 220px;
  left: 120px;
}

// メンバー一覧
.member-index-title{
  position: fixed;
  top: 150px;
  left: 100px;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.member-table{
  position: fixed;
  top: 220px;
  width: 50%;
}

// メンバー詳細
.member-show-title{
  position: fixed;
  top: 150px;
  left: 100px;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.member-show-table{
  position: fixed;
  top: 220px;
  width: 50%;
}

.member-edit-button{
  position: fixed;
  top: 330px;
  left: 900px;
}

// メンバー編集
.dog_breed-edit-title{
  position: fixed;
  top: 150px;
  left: 100px;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.member-edit-table{
  position: fixed;
  top: 220px;
  left: 120px;
  width: 70%;
}

.member-edit-table-text{
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.member-edit-button{
  position: fixed;
  top: 500px;
  left: 320px;
}

// 会員又は未ログイン

// トップページ
.top{
  margin: 0;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

// サイト紹介
.about{
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

// ログイン
.member-login{
  position: fixed;
  top: 200px;
}

.member-login-text{
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.member-unregistered{
  margin-top: 10px;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

// 新規登録
.signup-title{
  position: fixed;
  top: 150px;
  left: 200px;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.member-signup{
  position: fixed;
  top: 200px;
}

.member-signup-text{
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.member-already-signup{
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}



// 犬種一覧

.pagination{
  justify-content: center;
}

.dog_breed_title{
  text-align: center;
  margin-top: 10px;
}

.content {
  width: 780px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}

.dog_breed-individual{
  margin: 10px;
}


// 犬種詳細
.dog_breed_show-title-member{
  position: fixed;
  top: 150px;
  left: 100px;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.dog_breed_show-image-member{
  position: fixed;
  top: 220px;
  left: 150px;
}

.dog_breed_show-text-member{
  position: fixed;
  top: 460px;
  left: 150px;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.comments{
  position: fixed;
  top: 330px;
  left: 780px;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.new-comment{
  position: fixed;
  top: 220px;
  left: 780px;
}

// マイページ
.member-show-title-login{
  position: fixed;
  top: 150px;
  left: 100px;
  color: orange;
  text-shadow: 2px  2px 3px white,
              -2px  2px 3px white,
               2px -2px 3px white,
              -2px -2px 3px white;
}

.member-show-table-login{
  position: fixed;
  top: 220px;
  width: 50%;
}

.member-edit-button-login{
  position: fixed;
  top: 380px;
  left: 260px;
}

footer {
  height: 70px;
  width: 100%;
  background-color: #2f3a44;
  color: #e8e8e8;
  padding-top: 20px;
  position: fixed;
  bottom: 0;
}

.footer-text{
  margin: auto;
  width: 20em;
}

